.discoverMusic {
  width: 1100px;
}
.discoverMusic .text1 {
  width: 1100px;
  border-bottom: 1px solid #e6e7ea;
  font-size: 20px;
  margin-top: 20px;
}
.discoverMusic .recommendSLPic {
  height: 510px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.discoverMusic .recommendSLPic .item .item_name {
  width: 160px;
}
.discoverMusic .text2 {
  width: 1100px;
  border-bottom: 1px solid #e6e7ea;
  font-size: 20px;
  margin-top: 20px;
}
.discoverMusic .dujiaFS {
  margin-top: 10px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.discoverMusic .text3 {
  width: 1100px;
  border-bottom: 1px solid #e6e7ea;
  font-size: 20px;
  margin-top: 20px;
}
.discoverMusic .newMusic {
  display: flex;
}
.discoverMusic .newMusic .newMusic1 {
  margin-top: 20px;
  flex: 1;
}
.discoverMusic .newMusic .newMusic2 {
  margin-top: 20px;
  flex: 1;
}
.discoverMusic .newMusic .jishu {
  display: flex;
  align-items: center;
  height: 75px;
  background-color: #f5f5f7;
}
.discoverMusic .newMusic .jishu .right .songName {
  font-size: 20px;
  padding-bottom: 10px;
  margin-left: 20px;
}
.discoverMusic .newMusic .jishu .right .artistName {
  margin-left: 20px;
}
.discoverMusic .newMusic .oushu {
  display: flex;
  align-items: center;
  height: 75px;
}
.discoverMusic .newMusic .oushu .right .songName {
  font-size: 20px;
  padding-bottom: 10px;
  margin-left: 20px;
}
.discoverMusic .newMusic .oushu .right .artistName {
  margin-left: 20px;
}
.discoverMusic .newMusic .oushu:hover {
  background-color: #ebeced;
}
.discoverMusic .newMusic .jishu:hover {
  background-color: #ebeced;
}
.discoverMusic .beian {
  background-color: #f2f2f2;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.discoverMusic .beian .a {
  margin-top: 20px;
  font-size: 20px;
}
.discoverMusic .beian .div {
  margin-top: 10px;
}
