.content{
    display: flex;
    .leftMenu {
        height: 700px;
        width: 256px;
        border-right: 1px solid rgb(230, 231, 234);
        .tuijian_text {
            padding: 10px;
            font-size: 15px;
        }
        .menu {
            :global {
                .ant-menu-item-selected {
                    background-color: rgb(230, 231, 234);
                    color: rgb(0, 0, 0);
                    border-left: 3px solid red;
                }
                .ant-menu-item-active {
                    color: rgb(0, 0, 0);
                    background-color: rgb(230, 231, 234);
                }
                .ant-menu-item::after {
                    border-right: 0px solid red;
                }
            }
        }
    }

    .right {
        width: 1300px;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }
}



