.all {
  display: flex;
  flex-direction: column;
}
.all .top {
  width: 100%;
  height: 50px;
  background-color: #c62f2f;
  display: flex;
  align-items: center;
}
.all .top .left {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.all .top .center {
  font-size: 20px;
  color: white;
  margin-left: 10px;
}
.all .top .input {
  width: 250px;
  margin-left: 100px;
}
.all .top .input .inputIcon {
  color: #c56d6d;
}
.all .top .input :global .ant-input {
  background-color: #a82828;
  border-radius: 20px;
  border: 1px solid #c62f2f;
  font-size: 12px;
  color: white;
}
.all .content {
  display: flex;
}
.all .content .top {
  width: 100%;
  height: 50px;
  background-color: #c62f2f;
  display: flex;
  align-items: center;
}
.all .content .leftMenu {
  height: 700px;
  width: 256px;
  border-right: 1px solid #e6e7ea;
}
.all .content .leftMenu .tuijian_text {
  padding: 10px;
  font-size: 15px;
}
.all .content .leftMenu .menu :global .ant-menu-item-selected {
  background-color: #e6e7ea;
  color: #000000;
  border-left: 3px solid red;
}
.all .content .leftMenu .menu :global .ant-menu-item-active {
  color: #000000;
  background-color: #e6e7ea;
}
.all .content .leftMenu .menu :global .ant-menu-item::after {
  border-right: 0px solid red;
}
.all .content .right {
  width: 1300px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.all .compAudio {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  border-top: 1px solid #e1e1e2;
  background-color: #f6f6f8;
}
.all .compAudio .shangyishou {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-image: url('../../static/shangyishou.png');
  background-size: 100% 100%;
  margin-left: 30px;
  cursor: pointer;
}
.all .compAudio .bofang {
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
  background-image: url('../../static/bofang.png');
  background-size: 100% 100%;
  margin-left: 30px;
  cursor: pointer;
}
.all .compAudio .zanting {
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
  background-image: url('../../static/zanting.png');
  background-size: 100% 100%;
  margin-left: 30px;
  cursor: pointer;
}
.all .compAudio .xiayishou {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-image: url('../../static/xiayishou.png');
  background-size: 100% 100%;
  margin-left: 30px;
  cursor: pointer;
}
.all .compAudio .progress {
  margin-left: 50px;
}
.all .compAudio .songTime {
  margin-left: 20px;
  width: 10px;
}
.all .compAudio :global .ant-progress-inner {
  background-color: #e6e6e8;
  width: 1000px;
}
.all .compAudio :global .ant-progress-outer {
  width: 1000px;
}
.all .compAudio :global .ant-progress-line {
  width: 1000px;
}
.all .compAudio :global .ant-progress-bg {
  background-color: #d81e06;
}
.all .music {
  display: none;
}
